@import './variables';

@mixin flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    .new-task-btn {
        margin: 20px;
        text-align: center;
        > button {
            background-color: #17a14e;
            color: white;
        }
    }
    .status-wrapper {
        font-family: sans-serif;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}