@import './variables';

@mixin flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.module-loader {
    position: absolute;
    top: 50vh;
    left: 50%;
}
.main-container {
    width: 100%;
    .new-task-btn {
        margin: 20px;
        text-align: center;
        > button {
            background-color: #17a14e;
            color: white;
        }
    }
    .status-wrapper {
        font-family: sans-serif;
        display: flex;
        // justify-content: space-around;
        flex-wrap: wrap;
    }
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
        .chart-container {
            width: 100%;
            .pie-chart-container {
                margin: auto;   
            }
        }
    }
}

.pie-chart-container {
    @include flex-container();
    border-right: 1px solid #17a14e;
    height: 100%;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    .pie-chart-head {
        font-family: sans-serif;
    }
}
@media screen and (max-width: 600px) {
    .pie-chart-container {
        border-right: none;
    }
}